<div fxLayout="column">
  <form (ngSubmit)="save()" [formGroup]="boleiroForm">
    <div fxLayout fxLayoutGap="10px">
      <mat-form-field fxFlex="70">
        <input matInput autocomplete="off" #NomeBoleiro="matInput" type="text" formControlName="nome"
          placeholder="NOME">
      </mat-form-field>
      <mat-form-field fxFlex="30">
        <mat-select formControlName="posicao" name="posicao" placeholder="POSIÇÃO">
          <mat-option *ngFor="let posicao of posicoes" [value]="posicao.value">
            {{posicao.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <button mat-raised-button color="primary" type="submit">ADICIONAR</button>
    </div>
  </form>
</div>