<div fxLayout="column" fxLayoutAlign="center center" *ngIf="matchs.length == 0">
  NENHUMA PARTIDA CADASTRADA!
</div>

<div *ngIf="matchs.length > 0">
  <mat-card fxLayout="column" class="card-match" [routerLink]="['/home', match.id]"
    *ngFor="let match of matchs">
    <mat-card-content fxLayout="row" fxLayoutAlign="center center">
      <div style="font-size: 18px;" fxFlex="85">
        {{match.name}}
      </div>
      <div fxFlex="15" style="text-align: right;">
        <button mat-icon-button color="warn" (click)="delete(match.id)" matTooltip="EXCLUIR"
          matTooltipPosition="left">
          <img src="/assets/close.svg" width="24px">
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="fab">
  <button mat-fab (click)="openAdd()" color="primary" matTooltip="ADICIONAR" matTooltipPosition="left">
    <mat-icon>add</mat-icon>
  </button>
</div>
