<app-create-team></app-create-team>

<br>

<div fxLayout="row">
  <div class="title-player" fxFlex>
    SELECIONE OS BOLEIROS ({{playerService.getActive().length}})
  </div>
</div>

<div fxLayout="row" class="list-player" *ngFor=" let item of playerService.players; let i = index">
  <div fxFlex="60">
    {{item.name}}
  </div>
  <div fxFlex="25">
    {{item.position}}
  </div>
  <div fxFlex="15">
    <mat-slide-toggle color="primary" [checked]="item.selected" (change)="playerService.setActive(item)"></mat-slide-toggle>
  </div>
</div>
